.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;

}

.header{
    width: 100%;
    height: 10%;
    background: pink;
}
.main{
    width: 100%;
    height: 80%;
    background: grey;
}

.footer{
    width: 100%;
    height: 20%;
    background: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    border: solid 2px black;
    border-radius: ;
    
}

.image{
    width: 10%;
    height: 10%;
}



@media screen  and (max-width: 1200px) {
    .header{
        background: green;
    }
    .main{
        
        background: rgb(209, 153, 153);
    }
    .footer{
        background: red;
    }
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    gap: 20px;
}

@media screen  and (max-width: 1200px) {
    .header{
        background: green;
    }
    .main{
        
        background: rgb(209, 153, 153);
    }
    .footer{
        background: red;
    }
}
@media screen  and (max-width: 992px) {
    .header{
        background: rgb(54, 163, 54);
        font-size: medium;
    }
    .main{
        
        background: rgb(226, 36, 201);
    }
    .footer{
        background: rgb(82, 7, 7);
    }
}

@media screen  and (max-width: 450px) {

    .image{
        display: none;
    }

    .header{
        background: rgb(134, 190, 134);
    }
    .main{
        
        background: rgb(209, 49, 49);
    }
    .footer{
        background: rgb(185, 211, 41);
    }
}